backup-github-.json
{
  "updatedAt": "2026-01-15T10:56:48.186Z",
  "createdAt": "2026-01-15T10:47:04.523Z",
  "id": "NHRjiGhGHM-NprL4E4C6U",
  "name": "Backup Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ad97866c-e936-4c66-9447-e83e79e7d7a9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -64,
        256
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "8e3fb7ba-2b87-41df-819b-0c9767ea0cc0",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        432,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "TYyUpsztWkjdCCOV",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "62e7cfb8-300e-42ff-9469-aa8574c8e4dc",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        272,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/pariflex1/n8n-backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
        },
        "filePath": "="
      },
      "id": "71cd9e89-be0e-4d9e-9906-cdb7b7de6887",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        112,
        256
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "T2te9LvjadbrWigK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/pariflex1/n8n-backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "7de6c9dd-410d-4b48-a033-777b08ab5ad5",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1232,
        176
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "T2te9LvjadbrWigK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "url",
          "value": "https://github.com/pariflex1/n8n-backup",
          "__regex": "https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "b63ee618-6337-48bb-85b4-ddd0b0b810ac",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1232,
        336
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "T2te9LvjadbrWigK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "21de69c8-c839-4136-9296-8406a971bd9a",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1072,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "0962e2b1-3e4b-4eda-8893-bbd946b4e98b",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        592,
        256
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "2c5425f1-0222-4150-beda-6c6d637a5df0",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        752,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "746b0ef3-ed39-4f73-95f5-f66443e863ea",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "44284423-1a3f-48ec-bc44-731f441419e5",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "c1bfd903-820e-435d-a870-ce6eca9d74c4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "8552ff09-3ab4-4f72-83f7-62ac29c76c3f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        112
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b15f5ddf-3ecd-4af5-8ec1-b234622d6f81",
  "activeVersionId": "b15f5ddf-3ecd-4af5-8ec1-b234622d6f81",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-15T10:47:04.529Z",
      "createdAt": "2026-01-15T10:47:04.529Z",
      "role": "workflow:owner",
      "workflowId": "NHRjiGhGHM-NprL4E4C6U",
      "projectId": "q8LPzBKJKWzEdVHR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T10:57:07.000Z",
    "createdAt": "2026-01-15T10:56:48.193Z",
    "versionId": "b15f5ddf-3ecd-4af5-8ec1-b234622d6f81",
    "workflowId": "NHRjiGhGHM-NprL4E4C6U",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "ad97866c-e936-4c66-9447-e83e79e7d7a9",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -64,
          256
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "8e3fb7ba-2b87-41df-819b-0c9767ea0cc0",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          432,
          256
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "TYyUpsztWkjdCCOV",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "62e7cfb8-300e-42ff-9469-aa8574c8e4dc",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          272,
          256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "https://github.com/pariflex1/n8n-backup",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
          },
          "filePath": "="
        },
        "id": "71cd9e89-be0e-4d9e-9906-cdb7b7de6887",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          112,
          256
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "T2te9LvjadbrWigK",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "https://github.com/pariflex1/n8n-backup",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "7de6c9dd-410d-4b48-a033-777b08ab5ad5",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1232,
          176
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "T2te9LvjadbrWigK",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "url",
            "value": "https://github.com/pariflex1/n8n-backup",
            "__regex": "https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "b63ee618-6337-48bb-85b4-ddd0b0b810ac",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1232,
          336
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "T2te9LvjadbrWigK",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "21de69c8-c839-4136-9296-8406a971bd9a",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          1072,
          256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "0962e2b1-3e4b-4eda-8893-bbd946b4e98b",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          592,
          256
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "2c5425f1-0222-4150-beda-6c6d637a5df0",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          752,
          256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 300,
          "color": 5
        },
        "id": "746b0ef3-ed39-4f73-95f5-f66443e863ea",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          80,
          112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "44284423-1a3f-48ec-bc44-731f441419e5",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          912,
          256
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 460,
          "color": 3
        },
        "id": "c1bfd903-820e-435d-a870-ce6eca9d74c4",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "8552ff09-3ab4-4f72-83f7-62ac29c76c3f",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          880,
          112
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brij Mohan",
    "name": "Version b15f5ddf",
    "description": "",
    "autosaved": false
  },
  "tags": []
}