sivanta-home-app-.json
{
  "updatedAt": "2026-01-26T09:59:41.000Z",
  "createdAt": "2026-01-18T10:44:39.835Z",
  "id": "G0i83L2lWi-l5tTnyKVQz",
  "name": "Sivanta Home App",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "society-api",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        384
      ],
      "id": "a144aa07-453d-43a7-875b-33c6dbcb963d",
      "webhookId": "d0d3ab9a-4037-4804-8460-35935a0c1ea3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "guard_login"
            }
          ]
        }
      },
      "name": "Is Guard Login",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "21cde37a-4f4c-40bb-a682-8e8cac21970c"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "visitor_entry"
            }
          ]
        }
      },
      "name": "Is Visitor Entry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "id": "00ecd087-81ca-465e-99f2-4feed90d9515"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "visitor_exit"
            }
          ]
        }
      },
      "name": "Is Exit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        384
      ],
      "id": "51b941a2-65bb-4c78-8a02-603ecbcbc69f"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "complaint"
            }
          ]
        }
      },
      "name": "Is Complaint",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        576
      ],
      "id": "f08c333a-a0f3-4937-82a6-40cc4c8bf8de"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "sos"
            }
          ]
        }
      },
      "name": "Is SOS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        768
      ],
      "id": "28ebd260-0785-4a21-a7f7-c14e173f4e14"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Login route - configure Supabase here"
            }
          ]
        },
        "options": {}
      },
      "name": "Guard Login Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "10d52fa5-def9-4923-8cfc-1ee3e007b7ca"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Entry logged - configure Supabase here"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Entry Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        192
      ],
      "id": "3ae7e7d2-0dcd-43b8-988f-f9f2950c7755"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Exit processed"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Exit Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        384
      ],
      "id": "5f2497c4-09c0-4acc-933b-aae9d1fb9d3b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Complaint registered - configure Supabase here"
            }
          ]
        },
        "options": {}
      },
      "name": "Complaint Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        576
      ],
      "id": "85c4e838-3a35-46ad-9327-17578035fedd"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "SOS Alert - configure Twilio here"
            }
          ]
        },
        "options": {}
      },
      "name": "SOS Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        768
      ],
      "id": "31bbbf4a-94fe-4366-8549-032ec50ba518"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Guard Login",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Visitor Entry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Exit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Complaint",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is SOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Guard Login": {
      "main": [
        [
          {
            "node": "Guard Login Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Visitor Entry": {
      "main": [
        [
          {
            "node": "Log Entry Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Exit": {
      "main": [
        [
          {
            "node": "Exit Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complaint": {
      "main": [
        [
          {
            "node": "Complaint Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is SOS": {
      "main": [
        [
          {
            "node": "SOS Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0e13e4ed-c815-4923-bf12-ae73b568eb7a",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-18T10:44:39.840Z",
      "createdAt": "2026-01-18T10:44:39.840Z",
      "role": "workflow:owner",
      "workflowId": "G0i83L2lWi-l5tTnyKVQz",
      "projectId": "Wp4nC2HsKCQjylkb"
    }
  ],
  "activeVersion": null,
  "tags": []
}