social-media-multi-platform-publisher-.json
{
  "updatedAt": "2026-02-21T12:53:37.777Z",
  "createdAt": "2026-02-19T10:36:45.450Z",
  "id": "KY4tgxw5qMfroRxuN3QSI",
  "name": "Social Media Multi-Platform Publisher",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://thecurveconsultants.com/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"thecurve-{{ $now }}.jpg\""
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1440,
        -208
      ],
      "id": "414953b6-7980-4e8a-84d9-ed2fdb680fce",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "iOfaLO027n6wIKcY",
          "name": "The Curve"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media marketing expert for \"Vaidik Greens\" — a premium luxury resort and cottage property located in India. The resort offers: luxury cottages & farmhouses, world-class dining, spa & wellness center, swimming pools & water features, pond with boating, disco & pub, VIP lounges, conference & meeting halls, wedding celebration venues, entertainment & nightlife, medical services, family-friendly amenities, nature-friendly sustainable living, and transport facilities.\n\nAnalyze this image and generate a social media post for Vaidik Greens.\n\nReturn your response in this EXACT JSON format (no markdown, no code blocks):\n{\n  \"title\": \"A short, catchy SEO-friendly title (max 60 chars)\",\n  \"description\": \"An engaging social media caption (150-250 chars) with relevant emojis. Include a call-to-action. Mention Vaidik Greens naturally.\",\n  \"hashtags\": \"#VaidikGreens #LuxuryResort and 5-8 more relevant hashtags\",\n  \"alt_text\": \"A brief, accessible description of the image for SEO (max 125 chars)\",\n\"caption\": \"A short, catchy SEO-friendly caption (max 60 chars)\"\n}\n\nthis is title refrence: {{ $('Webhook1').item.json.body.title }} \nthis is title description: {{ $('Webhook1').item.json.body.description }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1216,
        -208
      ],
      "id": "9e64cb40-1f0b-42ab-b13e-0e296d79445a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832",
          "mode": "list",
          "cachedResultName": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1296,
        0
      ],
      "id": "9bfeb5cb-14c7-4e02-933a-7bf7cb225504",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oeU3bDddqKmVY1Rx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaidik",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -208
      ],
      "id": "c6bb2765-c2c4-4471-8108-f84d4976e196",
      "name": "Webhook1",
      "webhookId": "e020f35b-b702-4089-984f-cdf0765024b6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.platforms }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6bc7e4d7-06b8-41b6-af11-d6a2d84eca8e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69355307-c95c-43de-9d9b-e54b915ac001",
                    "leftValue": "={{ $('Webhook1').item.json.body.platforms }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd7885ea-4d5e-464c-8b08-2e0919004e58",
                    "leftValue": "={{ $('Webhook1').item.json.body.platforms }}",
                    "rightValue": "Google Business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "620282ea-bb9b-4715-bd77-0504d1c11f6b",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/695388076981882/feed",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "link",
              "value": "https://vaidikgreens.com/greener-views-taking-shape-at-vaidik-greens/"
            },
            {
              "name": "message",
              "value": "New post: Post title"
            },
            {
              "name": "access_token",
              "value": "EAAeb30iya3kBQ99jVeykXIH2F8nEKq77AJlVhpwk6uE6OgJaSCAdPAoBPD5zhWY5475UZBupE0IMFzxPXO7zxEetDWjzTZAvj3ZBrdCeK3c2JyEWi4ZCa4x7T8BtQyhhCQtxxp21L6eGY5iQGe9VMhYzVSUo6MZAbZCsZCbG7x88ECIRKZA4eZBLi2AWSlSMr9GZBgyKbVgLGJZC5PrV58G"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        -64
      ],
      "id": "fc075544-50c5-4f9e-a777-27bd0e80fedf",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://thecurveconsultants.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"content\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"status\": \"publish\",\n\"author\": 2, \n  \"categories\": [30],\n  \"featured_media\": \"{{ $('HTTP Request').item.json.id }}\",\n  \"meta\": {\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        -208
      ],
      "id": "a4f58014-4514-4ee1-b5ab-69d15b2a026e",
      "name": "Post",
      "credentials": {
        "httpBasicAuth": {
          "id": "iOfaLO027n6wIKcY",
          "name": "The Curve"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://thecurveconsultants.com/wp-json/wp/v2/media/{{ $('HTTP Request').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"description\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"caption\": \"{{ JSON.parse($json.output).caption }}\",\n  \"featured_media\": {{ $('HTTP Request').item.json.id }},\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        -352
      ],
      "id": "0a7ad3ee-d53f-4a12-8034-aa789adc5012",
      "name": "Image",
      "credentials": {
        "httpBasicAuth": {
          "id": "iOfaLO027n6wIKcY",
          "name": "The Curve"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        []
      ]
    },
    "Post": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c636b39e-f586-4a97-bd7a-e2d2eb15fbf1",
  "activeVersionId": "2743c879-1fd6-49fc-a000-23d4b00d4be4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T10:36:45.457Z",
      "createdAt": "2026-02-19T10:36:45.457Z",
      "role": "workflow:owner",
      "workflowId": "KY4tgxw5qMfroRxuN3QSI",
      "projectId": "Wp4nC2HsKCQjylkb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-21T07:50:16.000Z",
    "createdAt": "2026-02-21T07:50:09.900Z",
    "versionId": "2743c879-1fd6-49fc-a000-23d4b00d4be4",
    "workflowId": "KY4tgxw5qMfroRxuN3QSI",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://vaidikgreens.com/wp-json/wp/v2/media",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"vaidik-{{ $now }}.jpg\""
              },
              {
                "name": "Content-Type",
                "value": "image/jpeg"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "image",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1440,
          -208
        ],
        "id": "414953b6-7980-4e8a-84d9-ed2fdb680fce",
        "name": "HTTP Request",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vaidikgreens.com/wp-json/wp/v2/posts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"content\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"status\": \"publish\",\n\"author\": 2, \n  \"categories\": [15],\n  \"featured_media\": \"{{ $('HTTP Request').item.json.id }}\",\n  \"meta\": {\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -864,
          -112
        ],
        "id": "a4f58014-4514-4ee1-b5ab-69d15b2a026e",
        "name": "HTTP Request1",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a social media marketing expert for \"Vaidik Greens\" — a premium luxury resort and cottage property located in India. The resort offers: luxury cottages & farmhouses, world-class dining, spa & wellness center, swimming pools & water features, pond with boating, disco & pub, VIP lounges, conference & meeting halls, wedding celebration venues, entertainment & nightlife, medical services, family-friendly amenities, nature-friendly sustainable living, and transport facilities.\n\nAnalyze this image and generate a social media post for Vaidik Greens.\n\nReturn your response in this EXACT JSON format (no markdown, no code blocks):\n{\n  \"title\": \"A short, catchy SEO-friendly title (max 60 chars)\",\n  \"description\": \"An engaging social media caption (150-250 chars) with relevant emojis. Include a call-to-action. Mention Vaidik Greens naturally.\",\n  \"hashtags\": \"#VaidikGreens #LuxuryResort and 5-8 more relevant hashtags\",\n  \"alt_text\": \"A brief, accessible description of the image for SEO (max 125 chars)\",\n\"caption\": \"A short, catchy SEO-friendly caption (max 60 chars)\"\n}\nGenerate title on: {{ $('Webhook1').item.json.body.title }}\nGenerate description on: {{ $('Webhook1').item.json.body.description }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1216,
          -208
        ],
        "id": "9e64cb40-1f0b-42ab-b13e-0e296d79445a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832",
            "mode": "list",
            "cachedResultName": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1152,
          16
        ],
        "id": "9bfeb5cb-14c7-4e02-933a-7bf7cb225504",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "oeU3bDddqKmVY1Rx",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://vaidikgreens.com/wp-json/wp/v2/media/{{ $('HTTP Request').item.json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"description\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"caption\": \"{{ JSON.parse($json.output).caption }}\",\n  \"featured_media\": {{ $('HTTP Request').item.json.id }},\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  \n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -864,
          -304
        ],
        "id": "0a7ad3ee-d53f-4a12-8034-aa789adc5012",
        "name": "HTTP Request2",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vaidik",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1680,
          -208
        ],
        "id": "c6bb2765-c2c4-4471-8108-f84d4976e196",
        "name": "Webhook1",
        "webhookId": "e020f35b-b702-4089-984f-cdf0765024b6"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brij Mohan",
    "name": "Version 2743c879",
    "description": "",
    "autosaved": true
  },
  "tags": []
}