social-media-multi-platform-publisher-.json
{
  "updatedAt": "2026-02-20T14:45:17.266Z",
  "createdAt": "2026-02-19T10:36:45.450Z",
  "id": "KY4tgxw5qMfroRxuN3QSI",
  "name": "Social Media Multi-Platform Publisher",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Vaidik",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Title"
            },
            {
              "fieldLabel": "Details"
            },
            {
              "fieldLabel": "Platform",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook"
                  },
                  {
                    "option": "Instagram"
                  },
                  {
                    "option": "Google"
                  }
                ]
              }
            },
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1664,
        -208
      ],
      "id": "7a3c17ec-5f98-4013-aa94-8d2292a30a7c",
      "name": "On form submission",
      "webhookId": "2eb7c145-84a4-4688-b72b-3ee029b2892e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vaidikgreens.com/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $json.data[0].filename }}.jpg\""
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1440,
        -208
      ],
      "id": "414953b6-7980-4e8a-84d9-ed2fdb680fce",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "sRZ7CngipZNhiFko",
          "name": "Vaidik image"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vaidikgreens.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"content\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"status\": \"publish\",\n\"author\": 2, \n  \"categories\": [15],\n  \"featured_media\": \"{{ $('HTTP Request').item.json.id }}\",\n  \"meta\": {\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        -112
      ],
      "id": "a4f58014-4514-4ee1-b5ab-69d15b2a026e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "sRZ7CngipZNhiFko",
          "name": "Vaidik image"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media marketing expert for \"Vaidik Greens\" — a premium luxury resort and cottage property located in India. The resort offers: luxury cottages & farmhouses, world-class dining, spa & wellness center, swimming pools & water features, pond with boating, disco & pub, VIP lounges, conference & meeting halls, wedding celebration venues, entertainment & nightlife, medical services, family-friendly amenities, nature-friendly sustainable living, and transport facilities.\n\nAnalyze this image and generate a social media post for Vaidik Greens.\n\nReturn your response in this EXACT JSON format (no markdown, no code blocks):\n{\n  \"title\": \"A short, catchy SEO-friendly title (max 60 chars)\",\n  \"description\": \"An engaging social media caption (150-250 chars) with relevant emojis. Include a call-to-action. Mention Vaidik Greens naturally.\",\n  \"hashtags\": \"#VaidikGreens #LuxuryResort and 5-8 more relevant hashtags\",\n  \"alt_text\": \"A brief, accessible description of the image for SEO (max 125 chars)\",\n\"caption\": \"A short, catchy SEO-friendly caption (max 60 chars)\"\n}\nGenerate title on: {{ $('On form submission').item.json.Title }}\nGenerate description on: {{ $('On form submission').item.json.Details }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1216,
        -208
      ],
      "id": "9e64cb40-1f0b-42ab-b13e-0e296d79445a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832",
          "mode": "list",
          "cachedResultName": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1144,
        16
      ],
      "id": "9bfeb5cb-14c7-4e02-933a-7bf7cb225504",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oeU3bDddqKmVY1Rx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://vaidikgreens.com/wp-json/wp/v2/media/{{ $('HTTP Request').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"description\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"caption\": \"{{ JSON.parse($json.output).caption }}\",\n  \"featured_media\": {{ $('HTTP Request').item.json.id }},\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        -304
      ],
      "id": "0a7ad3ee-d53f-4a12-8034-aa789adc5012",
      "name": "HTTP Request2",
      "credentials": {
        "httpBasicAuth": {
          "id": "sRZ7CngipZNhiFko",
          "name": "Vaidik image"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "70680e1b-2356-4e6f-a124-a75953613964",
  "activeVersionId": "c3bf2ce5-0e5e-43fa-93e1-3fc7f2ec02e8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T10:36:45.457Z",
      "createdAt": "2026-02-19T10:36:45.457Z",
      "role": "workflow:owner",
      "workflowId": "KY4tgxw5qMfroRxuN3QSI",
      "projectId": "Wp4nC2HsKCQjylkb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T13:10:02.000Z",
    "createdAt": "2026-02-20T13:08:13.346Z",
    "versionId": "c3bf2ce5-0e5e-43fa-93e1-3fc7f2ec02e8",
    "workflowId": "KY4tgxw5qMfroRxuN3QSI",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Vaidik",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Title"
              },
              {
                "fieldLabel": "Details"
              },
              {
                "fieldLabel": "Platform",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Facebook"
                    },
                    {
                      "option": "Instagram"
                    },
                    {
                      "option": "Google"
                    }
                  ]
                }
              },
              {
                "fieldLabel": "data",
                "fieldType": "file",
                "requiredField": true
              }
            ]
          },
          "options": {
            "buttonLabel": "Submit"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -1664,
          -208
        ],
        "id": "7a3c17ec-5f98-4013-aa94-8d2292a30a7c",
        "name": "On form submission",
        "webhookId": "2eb7c145-84a4-4688-b72b-3ee029b2892e"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vaidikgreens.com/wp-json/wp/v2/media",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $json.data[0].filename }}.jpg\""
              },
              {
                "name": "Content-Type",
                "value": "image/jpeg"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1440,
          -208
        ],
        "id": "414953b6-7980-4e8a-84d9-ed2fdb680fce",
        "name": "HTTP Request",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vaidikgreens.com/wp-json/wp/v2/posts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"content\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"status\": \"publish\",\n\"author\": 2, \n  \"categories\": [15],\n  \"featured_media\": \"{{ $('HTTP Request').item.json.id }}\",\n  \"meta\": {\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -864,
          -112
        ],
        "id": "a4f58014-4514-4ee1-b5ab-69d15b2a026e",
        "name": "HTTP Request1",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a social media marketing expert for \"Vaidik Greens\" — a premium luxury resort and cottage property located in India. The resort offers: luxury cottages & farmhouses, world-class dining, spa & wellness center, swimming pools & water features, pond with boating, disco & pub, VIP lounges, conference & meeting halls, wedding celebration venues, entertainment & nightlife, medical services, family-friendly amenities, nature-friendly sustainable living, and transport facilities.\n\nAnalyze this image and generate a social media post for Vaidik Greens.\n\nReturn your response in this EXACT JSON format (no markdown, no code blocks):\n{\n  \"title\": \"A short, catchy SEO-friendly title (max 60 chars)\",\n  \"description\": \"An engaging social media caption (150-250 chars) with relevant emojis. Include a call-to-action. Mention Vaidik Greens naturally.\",\n  \"hashtags\": \"#VaidikGreens #LuxuryResort and 5-8 more relevant hashtags\",\n  \"alt_text\": \"A brief, accessible description of the image for SEO (max 125 chars)\",\n\"caption\": \"A short, catchy SEO-friendly caption (max 60 chars)\"\n}\nGenerate title on: {{ $('On form submission').item.json.Title }}\nGenerate description on: {{ $('On form submission').item.json.Details }}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1216,
          -208
        ],
        "id": "9e64cb40-1f0b-42ab-b13e-0e296d79445a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832",
            "mode": "list",
            "cachedResultName": "ft:gpt-4o-mini-2024-07-18:personal:meow:CZFaRlvj:ckpt-step-832"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1152,
          16
        ],
        "id": "9bfeb5cb-14c7-4e02-933a-7bf7cb225504",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "oeU3bDddqKmVY1Rx",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://vaidikgreens.com/wp-json/wp/v2/media/{{ $('HTTP Request').item.json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"{{ JSON.parse($json.output).title }}\",\n  \"description\": \"{{ JSON.parse($json.output).description }} <br> {{ JSON.parse($json.output).hashtags }}\",\n  \"caption\": \"{{ JSON.parse($json.output).caption }}\",\n  \"featured_media\": {{ $('HTTP Request').item.json.id }},\n    \"alt_text\": \"{{ JSON.parse($json.output).alt_text }}\"\n  \n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -864,
          -304
        ],
        "id": "0a7ad3ee-d53f-4a12-8034-aa789adc5012",
        "name": "HTTP Request2",
        "credentials": {
          "httpBasicAuth": {
            "id": "sRZ7CngipZNhiFko",
            "name": "Vaidik image"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brij Mohan",
    "name": "Version c3bf2ce5",
    "description": "",
    "autosaved": true
  },
  "tags": []
}