superbase-vector-.json
{
  "updatedAt": "2026-01-15T09:43:05.638Z",
  "createdAt": "2026-01-15T09:43:05.638Z",
  "id": "BZ4e3jEteYW2qtHk6uuMo",
  "name": "Superbase Vector",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -48
      ],
      "id": "1fd90635-edeb-4d77-89c9-33090283a299",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const data = item.json;\n    let content = \"\";\n\n    if (data.Question && data.Answer) {\n        // FAQ\n        content = `${data.Answer}`;\n    } else if (data['Product Name'] && data.Description) {\n        // Product\n        content = `Product\\nCategory: ${data.Category || \"General\"}\\nName: ${data['Product Name']}\\nDescription: ${data.Description}\\nSize: ${data.Size || \"N/A\"}\\nPrice: ${data.Price || \"N/A\"}`;\n    } else {\n        // Fallback\n        content = `Other Data\\n${JSON.stringify(data)}`;\n    }\n\n    return {\n        json: {\n            values: [],        // embedding node will fill this\n            content: content   // EVERYTHING is now vectorized\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -48
      ],
      "id": "1cf91e90-9444-4200-bf2d-26456795c0fb",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "krishna_anandam_vectors",
          "mode": "list",
          "cachedResultName": "krishna_anandam_vectors"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        -48
      ],
      "id": "3a97f222-92c6-4bab-a847-a0d34e22a3be",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SussLdm82bhER87r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        176
      ],
      "id": "a8a6916c-0330-4de6-80cb-144f41255514",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        176
      ],
      "id": "53061d05-d67c-45cf-a3b7-c9d47ad51090",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LXpXw67bYE0gLZYC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY",
          "mode": "list",
          "cachedResultName": "RVMC Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546266212,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit#gid=1546266212"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -48
      ],
      "id": "8aa6f5b7-c7a3-4020-827b-75efdee1cb8e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZlJifX5P905KYyux",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "rvmc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        448
      ],
      "id": "e8fe78ac-0f87-4040-ab86-6ba0d82504ab",
      "name": "Webhook",
      "webhookId": "739e3070-e4e5-4d15-b048-5529c8c523bb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb84fa11-ec27-4877-83ea-3a11a195fc92",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cc0f2c01-431e-4fc0-9386-3c31b52fec46",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "rvmc",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        352
      ],
      "id": "eff77531-d2f5-4fc2-b4b1-c23e1acc760f",
      "name": "Filter"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        144,
        352
      ],
      "id": "ecc2c7b1-c979-4977-9ef3-ff7053ab5db0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6de59eb4-a400-4c3a-b553-5ab74987778c",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.statuses[0].status }}",
              "rightValue": "read",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        544
      ],
      "id": "0198275a-5208-452e-bf46-41b4e928314b",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8adf164e-e24e-4693-ad9c-540031adbc66",
              "name": "phone_number_id",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "e90a0536-0be2-43e2-9580-4fd111f19d57",
              "name": "user_number",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "ffe41fb9-29de-4fbc-8855-209c48946961",
              "name": "bot_number",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.display_phone_number }}",
              "type": "string"
            },
            {
              "id": "678e1e3f-c93a-4339-bd3a-77f3b6a2f832",
              "name": "WABA_id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "1dfdb50b-aae0-4614-9923-d73c50aa9cc9",
              "name": "app_version",
              "value": "v24.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        544
      ],
      "id": "fb64ecd5-b8ad-4df4-bb0c-e5e87fd07fc6",
      "name": "set_variable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/639759029221223/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAdG3FIsPD8BQfduGLSxk3wKrV5wzPJ9xIaE8RMuZBACUDVZBzZCMnOl9EqfvcvGuD9NpZCv0PdXZBm0kNoZBaynUdMDdR3D1RCH1o7TZB5hVYJ3RDZBFkvsKgj1LZCSPsmJAOjKZA46bEPEGKCFpIScFOXQ3NFZBIkqzp79Jp1tygZB3HLpyiTZCagBrjjZARDkuGhgZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        544
      ],
      "id": "78f0343d-a48c-42a4-bd8d-59e7fe93ff13",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "set_variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_variable": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0a44e654-be5d-486a-9868-060a10726c79",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-15T09:43:05.643Z",
      "createdAt": "2026-01-15T09:43:05.643Z",
      "role": "workflow:owner",
      "workflowId": "BZ4e3jEteYW2qtHk6uuMo",
      "projectId": "q8LPzBKJKWzEdVHR"
    }
  ],
  "activeVersion": null,
  "tags": []
}