whatsapp-rag-ai-agent-.json
{
  "updatedAt": "2026-01-15T10:31:52.523Z",
  "createdAt": "2026-01-13T12:09:02.948Z",
  "id": "BuNkOgSQNNAKXKOAHCE44",
  "name": "Whatsapp RAG AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": "={{ [\"read\"] }}"
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        4560,
        1472
      ],
      "id": "8e12ab09-7c5a-4c11-b549-67bedfa2d68e",
      "name": "WhatsApp Trigger",
      "webhookId": "5701dc9d-cdc2-48d4-9cfb-32904c9a500e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "hi2uB1DB0h7AXgPP",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You a Senior Relationship Manager at Krishna Anandam, Jhansi, chatting on WhatsApp as a real Indian sales consultant, never as an AI, bot, assistant, or automated system.\n\nYour role is to guide genuine property buyers naturally, build trust like a real human, and gently suggest the next step (site visit), while strictly using only the provided Knowledge Base.\n\n🚨 KNOWLEDGE BASE RULE (ABSOLUTE – NO EXCEPTIONS)\n\nyour functions are to respond to user queries by retrieving data from supabase tool.\n\nRules:\n• Do NOT guess\n• Do NOT assume\n• Do NOT add new facts\n• Do NOT invent prices, distances, offers, or timelines\n• Do NOT use general real estate knowledge\n\nIf something is not present in the Knowledge Base, respond politely with uncertainty and offer a safe next step.\n\nAllowed fallback when information is missing:\n“Ji is detail ke liye main confirm karke bata sakti hoon.”\nor\n“Ji is point par exact update site visit par hi clear hota hai.”\n\nNever hallucinate.\n\nCOMMUNICATION STYLE (HUMAN FEMALE TONE)\n\nSpeak like a real woman on WhatsApp.\n\nUse:\nAap, Ji\nWarm, calm, respectful feminine tone\nNatural Hindi with light Hinglish and very light Bundelkhandi\n\nRules:\nOne short sentence per message\nAnswer what the user asked first\nAsk only one question when truly needed\nNever repeat ignored questions\nNever oversell or sound promotional\nAnswer only Krishna Anandam Project \n\nStrictly avoid:\nFormatting, emojis, bullets\nSales pressure\nCorporate or robotic language\n\nLANGUAGE MIRRORING\n\nMirror the user’s language automatically.\nDefault: Hindi + Hinglish + Bundeli.\n\nPERSONALIZATION (ONLY ONCE EACH)\n\nYou may gently ask:\nCurrent location\nProfession\n\nIf mentioned naturally, remember and never ask again.\n\nPROJECT REPRESENTATION (KB-ONLY)\n\nWhen relevant, you may mention only what exists in the Knowledge Base, such as:\nPeaceful environment\nFamily-friendly living\nRoad connectivity\nLegal clarity\nFuture value\n\nNever go beyond KB wording.\n\nINFORMATION SHARING (FIXED LINKS ONLY)\n\nIf the user asks for:\nPhotos, brochure, images, or documents\n→ Share only:\nhttps://krishnaanandam.com\nContact: 9956934058\n\nIf the user wants to book a site visit:\n→ Share only:\nhttps://krishnaanandam.com/contact\n\nNo extra explanation.\n\nSITE VISIT SUGGESTION (SOFT, KB-SAFE)\n\nWhen interest is shown:\n“Agar aap chahein to site visit araam se arrange ho sakta hai ji.”\n\nNever force.\nNever repeat.\n\nSILENT USER FALLBACK (HUMAN ONLY)\n\nIf the user goes silent:\nDo NOT repeat questions.\n\nSend only one gentle follow-up per day, no links, no questions.\n\nAllowed messages:\n“Ji jab aap free ho tab bata dijiyega.”\n“Koi jaldi nahi ji, aap araam se dekh lijiye.”\n“Ji main yahin hoon, jab convenient ho tab bata dijiyega.”\n\nIf silence continues, stop messaging.\n\nCLOSING GREETINGS (STRICT)\n\nSay only if user says “OK” or “Thank you”:\n\nDay:\n“Aapka din shubh rahe ji.”\n\nNight:\n“Shubh ratri ji.”\n\nNever close conversation yourself.\n\nOUTPUT FORMAT (NON-NEGOTIABLE)\n\nEach reply must be:\nOne WhatsApp-style sentence\nHuman, feminine, polite\nNo formatting, no emojis, no lists\n\nFINAL SAFETY REMINDER\n\nYou are Prerna, a real female consultant.\nYour answers must feel:\nHuman\nLocal\nTrustworthy\nPressure-free\n\nBut never exceed the Knowledge Base.\n\nIf unsure → say so politely."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5000,
        1472
      ],
      "id": "c0d9e267-d89e-4412-902f-cc46a0ea38b5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4912,
        1664
      ],
      "id": "f03ffe24-05ea-43a4-bd83-a31bda413f98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LXpXw67bYE0gLZYC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "639759029221223",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        5312,
        1472
      ],
      "id": "a00ed94d-74d5-4035-a0ef-7ab738fa8ae8",
      "name": "Send message",
      "webhookId": "326f03b7-b732-4d05-b2d8-63a186f97c96",
      "credentials": {
        "whatsAppApi": {
          "id": "FN2DrE9hCF1j3rJX",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5040,
        1664
      ],
      "id": "72b8f0a3-a99b-47a8-9a46-7db60deb48e8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fB5ZPgbY9fAPU2jz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to fetch data of krishna anandam project",
        "tableName": {
          "__rl": true,
          "value": "krishna_anandam_vectors",
          "mode": "list",
          "cachedResultName": "krishna_anandam_vectors"
        },
        "topK": 20,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5168,
        1664
      ],
      "id": "6125b6a7-2921-4e32-afd4-cbc9f04ec395",
      "name": "Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "SussLdm82bhER87r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5264,
        1792
      ],
      "id": "b0936150-7519-4cf3-a869-b5376b367929",
      "name": "Embeddings-OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LXpXw67bYE0gLZYC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY",
          "mode": "list",
          "cachedResultName": "RVMC Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{$now.toFormat(\"dd/MM/yyyy HH:mm:ss\")}}",
            "Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}",
            "Contact": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "User": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
            "AI": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI",
              "displayName": "AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5488,
        1472
      ],
      "id": "67e6dbbc-78e0-423f-ad86-583391c7d7aa",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZlJifX5P905KYyux",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs",
          "mode": "list",
          "cachedResultName": "HTML FORM - DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 309506201,
          "mode": "list",
          "cachedResultName": "Spacemooncity",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs/edit#gid=309506201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now.toFormat(\"dd/MM/yyyy HH:mm:ss\")}}",
            "Client Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}",
            "Contact": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Lead From": "Facebook",
            "Site": "Krishna Anandam",
            "Agent Name": "RVMC",
            "Client Contact": "919956934058"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "About",
              "displayName": "About",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead From",
              "displayName": "Lead From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Site",
              "displayName": "Site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Time",
              "displayName": "Meeting Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Site Url",
              "displayName": "Site Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Name",
              "displayName": "Agent Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Contact",
              "displayName": "Client Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5904,
        1456
      ],
      "id": "9de0d817-88c8-4bf7-bd86-f33575dce282",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZlJifX5P905KYyux",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38a72e0d-57dd-4e88-916b-6a55ba470793",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "rightValue": "Hello!",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5664,
        1472
      ],
      "id": "0f56f481-0796-44fe-a5f5-ced2989f95e5",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "0198aeab-b1c7-422a-bd7d-66a0d583b860"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba170b51-1824-440d-9811-3e4e39f07caf",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4784,
        1472
      ],
      "id": "aa66b72b-ecaf-4440-95cd-661168859cff",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "639759029221223",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Ji, maaf kijiyega, mere paas abhi file open karne ki suvidha nahi hai. Kya aap kripya ise text mein bata sakte hain?",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        5008,
        1328
      ],
      "id": "91a84713-1fee-4522-b759-3db809687bca",
      "name": "Error Message",
      "webhookId": "326f03b7-b732-4d05-b2d8-63a186f97c96",
      "credentials": {
        "whatsAppApi": {
          "id": "FN2DrE9hCF1j3rJX",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings-OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fab6adcf-70b8-4c85-88ed-49873e7279da",
  "activeVersionId": "fab6adcf-70b8-4c85-88ed-49873e7279da",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T12:09:02.960Z",
      "createdAt": "2026-01-13T12:09:02.960Z",
      "role": "workflow:owner",
      "workflowId": "BuNkOgSQNNAKXKOAHCE44",
      "projectId": "q8LPzBKJKWzEdVHR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T10:32:26.000Z",
    "createdAt": "2026-01-15T10:31:52.524Z",
    "versionId": "fab6adcf-70b8-4c85-88ed-49873e7279da",
    "workflowId": "BuNkOgSQNNAKXKOAHCE44",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {
            "messageStatusUpdates": "={{ [\"read\"] }}"
          }
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          4560,
          1472
        ],
        "id": "8e12ab09-7c5a-4c11-b549-67bedfa2d68e",
        "name": "WhatsApp Trigger",
        "webhookId": "5701dc9d-cdc2-48d4-9cfb-32904c9a500e",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "hi2uB1DB0h7AXgPP",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}",
          "options": {
            "systemMessage": "=You a Senior Relationship Manager at Krishna Anandam, Jhansi, chatting on WhatsApp as a real Indian sales consultant, never as an AI, bot, assistant, or automated system.\n\nYour role is to guide genuine property buyers naturally, build trust like a real human, and gently suggest the next step (site visit), while strictly using only the provided Knowledge Base.\n\n🚨 KNOWLEDGE BASE RULE (ABSOLUTE – NO EXCEPTIONS)\n\nyour functions are to respond to user queries by retrieving data from supabase tool.\n\nRules:\n• Do NOT guess\n• Do NOT assume\n• Do NOT add new facts\n• Do NOT invent prices, distances, offers, or timelines\n• Do NOT use general real estate knowledge\n\nIf something is not present in the Knowledge Base, respond politely with uncertainty and offer a safe next step.\n\nAllowed fallback when information is missing:\n“Ji is detail ke liye main confirm karke bata sakti hoon.”\nor\n“Ji is point par exact update site visit par hi clear hota hai.”\n\nNever hallucinate.\n\nCOMMUNICATION STYLE (HUMAN FEMALE TONE)\n\nSpeak like a real woman on WhatsApp.\n\nUse:\nAap, Ji\nWarm, calm, respectful feminine tone\nNatural Hindi with light Hinglish and very light Bundelkhandi\n\nRules:\nOne short sentence per message\nAnswer what the user asked first\nAsk only one question when truly needed\nNever repeat ignored questions\nNever oversell or sound promotional\nAnswer only Krishna Anandam Project \n\nStrictly avoid:\nFormatting, emojis, bullets\nSales pressure\nCorporate or robotic language\n\nLANGUAGE MIRRORING\n\nMirror the user’s language automatically.\nDefault: Hindi + Hinglish + Bundeli.\n\nPERSONALIZATION (ONLY ONCE EACH)\n\nYou may gently ask:\nCurrent location\nProfession\n\nIf mentioned naturally, remember and never ask again.\n\nPROJECT REPRESENTATION (KB-ONLY)\n\nWhen relevant, you may mention only what exists in the Knowledge Base, such as:\nPeaceful environment\nFamily-friendly living\nRoad connectivity\nLegal clarity\nFuture value\n\nNever go beyond KB wording.\n\nINFORMATION SHARING (FIXED LINKS ONLY)\n\nIf the user asks for:\nPhotos, brochure, images, or documents\n→ Share only:\nhttps://krishnaanandam.com\nContact: 9956934058\n\nIf the user wants to book a site visit:\n→ Share only:\nhttps://krishnaanandam.com/contact\n\nNo extra explanation.\n\nSITE VISIT SUGGESTION (SOFT, KB-SAFE)\n\nWhen interest is shown:\n“Agar aap chahein to site visit araam se arrange ho sakta hai ji.”\n\nNever force.\nNever repeat.\n\nSILENT USER FALLBACK (HUMAN ONLY)\n\nIf the user goes silent:\nDo NOT repeat questions.\n\nSend only one gentle follow-up per day, no links, no questions.\n\nAllowed messages:\n“Ji jab aap free ho tab bata dijiyega.”\n“Koi jaldi nahi ji, aap araam se dekh lijiye.”\n“Ji main yahin hoon, jab convenient ho tab bata dijiyega.”\n\nIf silence continues, stop messaging.\n\nCLOSING GREETINGS (STRICT)\n\nSay only if user says “OK” or “Thank you”:\n\nDay:\n“Aapka din shubh rahe ji.”\n\nNight:\n“Shubh ratri ji.”\n\nNever close conversation yourself.\n\nOUTPUT FORMAT (NON-NEGOTIABLE)\n\nEach reply must be:\nOne WhatsApp-style sentence\nHuman, feminine, polite\nNo formatting, no emojis, no lists\n\nFINAL SAFETY REMINDER\n\nYou are Prerna, a real female consultant.\nYour answers must feel:\nHuman\nLocal\nTrustworthy\nPressure-free\n\nBut never exceed the Knowledge Base.\n\nIf unsure → say so politely."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          5000,
          1472
        ],
        "id": "c0d9e267-d89e-4412-902f-cc46a0ea38b5",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          4912,
          1664
        ],
        "id": "f03ffe24-05ea-43a4-bd83-a31bda413f98",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "LXpXw67bYE0gLZYC",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "639759029221223",
          "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          5312,
          1472
        ],
        "id": "a00ed94d-74d5-4035-a0ef-7ab738fa8ae8",
        "name": "Send message",
        "webhookId": "326f03b7-b732-4d05-b2d8-63a186f97c96",
        "credentials": {
          "whatsAppApi": {
            "id": "FN2DrE9hCF1j3rJX",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.contacts[0].wa_id }}",
          "contextWindowLength": 25
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          5040,
          1664
        ],
        "id": "72b8f0a3-a99b-47a8-9a46-7db60deb48e8",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "fB5ZPgbY9fAPU2jz",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Call this tool to fetch data of krishna anandam project",
          "tableName": {
            "__rl": true,
            "value": "krishna_anandam_vectors",
            "mode": "list",
            "cachedResultName": "krishna_anandam_vectors"
          },
          "topK": 20,
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          5168,
          1664
        ],
        "id": "6125b6a7-2921-4e32-afd4-cbc9f04ec395",
        "name": "Knowledge Base",
        "credentials": {
          "supabaseApi": {
            "id": "SussLdm82bhER87r",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          5264,
          1792
        ],
        "id": "b0936150-7519-4cf3-a869-b5376b367929",
        "name": "Embeddings-OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "LXpXw67bYE0gLZYC",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY",
            "mode": "list",
            "cachedResultName": "RVMC Chatbot",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Chat",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WRte4yYM-bXQKcjl1FM1z7H7K0oaksOMVyS4wT9MhpY/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Time": "={{$now.toFormat(\"dd/MM/yyyy HH:mm:ss\")}}",
              "Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}",
              "Contact": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "User": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "AI": "={{ $('AI Agent').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Time",
                "displayName": "Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Contact",
                "displayName": "Contact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Thread ID",
                "displayName": "Thread ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "User",
                "displayName": "User",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "AI",
                "displayName": "AI",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          5488,
          1472
        ],
        "id": "67e6dbbc-78e0-423f-ad86-583391c7d7aa",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ZlJifX5P905KYyux",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs",
            "mode": "list",
            "cachedResultName": "HTML FORM - DATA",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 309506201,
            "mode": "list",
            "cachedResultName": "Spacemooncity",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9HDNQNU_XYDoCMdPMv0qifrV90wh40zSI72x7-pArs/edit#gid=309506201"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{$now.toFormat(\"dd/MM/yyyy HH:mm:ss\")}}",
              "Client Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}",
              "Contact": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "Lead From": "Facebook",
              "Site": "Krishna Anandam",
              "Agent Name": "RVMC",
              "Client Contact": "919956934058"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client Name",
                "displayName": "Client Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Contact",
                "displayName": "Contact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "About",
                "displayName": "About",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Note",
                "displayName": "Note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead From",
                "displayName": "Lead From",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Site",
                "displayName": "Site",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Meeting Date",
                "displayName": "Meeting Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Meeting Time",
                "displayName": "Meeting Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Site Url",
                "displayName": "Site Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Agent Name",
                "displayName": "Agent Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client Contact",
                "displayName": "Client Contact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          5904,
          1456
        ],
        "id": "9de0d817-88c8-4bf7-bd86-f33575dce282",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ZlJifX5P905KYyux",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "38a72e0d-57dd-4e88-916b-6a55ba470793",
                "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                "rightValue": "Hello!",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5664,
          1472
        ],
        "id": "0f56f481-0796-44fe-a5f5-ced2989f95e5",
        "name": "If"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.messages[0].type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "0198aeab-b1c7-422a-bd7d-66a0d583b860"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ba170b51-1824-440d-9811-3e4e39f07caf",
                      "leftValue": "={{ $json.messages[0].type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          4784,
          1472
        ],
        "id": "aa66b72b-ecaf-4440-95cd-661168859cff",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "639759029221223",
          "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "Ji, maaf kijiyega, mere paas abhi file open karne ki suvidha nahi hai. Kya aap kripya ise text mein bata sakte hain?",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          5008,
          1328
        ],
        "id": "91a84713-1fee-4522-b759-3db809687bca",
        "name": "Error Message",
        "webhookId": "326f03b7-b732-4d05-b2d8-63a186f97c96",
        "credentials": {
          "whatsAppApi": {
            "id": "FN2DrE9hCF1j3rJX",
            "name": "WhatsApp account"
          }
        }
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Knowledge Base": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings-OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Knowledge Base",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Send message": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brij Mohan",
    "name": "Version fab6adcf",
    "description": "",
    "autosaved": false
  },
  "tags": []
}